/*     GENERAL       */
*{
    font-family: 'Akshar', sans-serif;
}
html body{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    width: 100%;
}


/*     HEADER       */


.container-header{
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: flex-end;
    background:linear-gradient(rgba(0, 5, 7, 0.36),rgba(0, 5, 7, 0.36)), url("../img/design1_image1.jpg") ;
    background-position: 0% 20%;
    
}

.hide h1{
    font-size: 55px;
    margin: 0;
}

.header-2{
    background-color: white;
    color: black;
    border-bottom: solid black 2px;
    align-self: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 25px;
}

.header-2 p{
    margin-top: 5px;
    margin-bottom: 5px;
}


.container-header h1{
    color: white;
    text-shadow: 0px 0px 5px black ;
    font-size: 50px;
    align-self: flex-start;
    padding-left: 50px;

}

.header-1{
    display: none;
}

.navbar{
display: none;
}


/*     NAVBAR          */


.navbar-hidden{
    margin: 5px ;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.navbar-hidden div{
    display: flex;
    justify-content: space-around;
}

.navbar-hidden a{
    color: white;
    border: solid rgb(0, 0, 0) 3px;
    padding: 5px;
    margin: 10px;
    background-color: blue;
    box-shadow: 5px 5px black;
    margin-bottom: 0px ;
}

.navbar-hidden a:hover{
    background-color: green;
}


#logo{
    height: 150px;
}

.news{
    position: absolute;
    height: 100%;
    width: 50%;
    top: 20rem;
    right: 20rem;
}